# Visual Studio temporary files
.vscode

# Build Folders
bin
obj

# Cache objects
*.lscache

# Added by code-review-graph
.code-review-graph/
*.jsonc

# Ignore docs files (for AIs)
ASYNC_SPREADSHEET_NEXT_STEPS.md
THREAD_SAFE_SPREADSHEET_CHANGES.md
TODO.md